<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>

</head>
<body>

<div class="card" style="width: 38.5%; margin: 5px auto" th:fragment="header">
    <img src=https://cdn.galleries.smcloud.net/t/galleries/gf-d5fs-fXVi-vFFf_cwiczenia-na-szesciopak-jak-w-miesiac-wyrzezbic-miesnie-brzucha-664x442-nocrop.jpg width="500" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
                <a th:href="@{/}">Strona główna</a>
                <a th:href="@{/kontakt}">Kontakt</a>
        </h5>
        <p class="card-text">
            Cześć, nazywam się Jakub Koszczka i zapraszam Cię do współpracy treningowej.
            Jestem trenerem personalnym, entuzjastą praktycznego i życiowego podejścia do aspektów treningu i diety.
            Wspólnie zrealizujemy Twoje cele na rok 2022, które zostaną z Tobą na lata
            Jakie korzyści, przyniesie Ci rozpoczęcie współpracy?
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Spersonalizowana dieta oraz bieżące jej modyfikacje.</li>
        <li class="list-group-item">Plan treningowy ułożony pod Twoje cele i możliwości.</li>
        <li class="list-group-item">Regularne konsultacje.</li>
    </ul>
</div>

<div th:fragment="footer"></div>

</body>
</html>